COMPOSE_PROJECT_NAME=job_ete

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=
AWS_REGION=

AIRFLOW_VERSION=3.2.2
PYTHON_VERSION=3.10
AIRFLOW_IMAGE_NAME=job-ete-airflow:3.2.2-python3.10
AIRFLOW_UID=50000
AIRFLOW_FERNET_KEY=
AIRFLOW_JWT_SECRET=dev-only-change-me
AIRFLOW_SIMPLE_AUTH_MANAGER_USERS=airflow:admin

TOPCV_HEADLESS=true
TOPCV_MAX_PAGES=3

DBT_TARGET=dev
DBT_ATHENA_DATABASE=awsdatacatalog
DBT_ATHENA_SCHEMA=analytics
DBT_ATHENA_S3_STAGING_DIR=s3://amzn-s3-job-prj/athena/staging/
DBT_ATHENA_S3_DATA_DIR=s3://amzn-s3-job-prj/dbt/
DBT_ATHENA_S3_DATA_NAMING=schema_table_unique
DBT_ATHENA_WORK_GROUP=primary
DBT_THREADS=4
